<header class="header">                   
    <div class="header__logo-box">
        <img class="header__logo" src="https://boring-murdock-cfa48a.netlify.app/src/images/fylo-logo.png" alt="logo">
        <!-- <svg>
            <use xmllink:href="./../../../../../fylo-landing-page-with-two-column-layout-master/images/logo.svg#a"></use>
        </svg> -->
    </div>
    <div class="header__list">
        <div class="header__item">Features</div>
        <div class="header__item">Team</div>
        <div class="header__item">Sign in</div>
    </div>
</header>