.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background-color: #1d2331;

    &__logo-box{
        height: 100%;
    }
    &__logo{
        height: 90%;
    }
    &__list{
        display: flex;
    }
    &__item{
        margin: auto;
        color: #fff;
        margin-right: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: all .2s;

        &:hover{
            color: rgb(185, 185, 185);
        }
    }
}