<div class="footer">
    <div>
        <object data="../../assets/images/logo-gray.svg" ></object>
    </div>
    <div class="footer__contact-box">
        <div>
            <div class="footer__contact-box--contact">
                <object data="../../assets/images/icon-phone.svg"></object>
                <p class="footer__contact-box--text">Phone: +54767886999</p>
            </div>
            <div class="footer__contact-box--contact">
                <object data="../../assets/images/icon-email.svg"></object>
                <p class="footer__contact-box--text">Email: contact@fylo.com</p>
            </div>
        </div>
        <div class="footer__options-box">
            <div class="footer__options">
                <span>Aboust us</span>
                <span>Jobs</span>
                <span>Press</span>
                <span>Blog</span>
            </div>
            <div class="footer__options">
                <span>Contact us</span>
                <span>Terms</span>
                <span>Privacy</span>
            </div>
        </div>
        <div class="footer__social">
            <img src="../../assets/images/footer-socials.png" alt="" title="jaja soy una imagen">
        </div>
    </div>
</div>