<section class="two-column-box fylo">
    <app-fylo-store></app-fylo-store>
    <img class="img" src="https://images.vexels.com/media/users/3/146945/raw/709265fa82b329957191f0476edf07b9-ilustracion-del-concepto-de-trabajo-en-equipo.jpg" alt="">
</section>
<section class="two-column-box productive">
    <app-stay-productive-box></app-stay-productive-box>
    <img class="img" src="https://image.shutterstock.com/image-vector/business-team-working-together-brainstorming-260nw-1715887369.jpg" alt="">
</section>